<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>QuasiQWERTY</string>
	<key>CFBundleIdentifier</key>
	<string>me.larryv.keyboardlayout.quasiqwerty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuasiQWERTY</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015, 2018 Lawrence Andrew Velázquez</string>

	<!-- see /System/Library/Frameworks/Carbon.framework/Frameworks/HIToolbox.framework/Headers/TextInputSources.h -->

	<key>KLInfo_Asset</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Asset</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CapewellDvorak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CapewellDvorak</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CapewellQWERTY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CapewellQWERTY</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CapewellQWERTYHalf</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CapewellQWERTYHalf</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CapewellQWERTYN</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CapewellQWERTYN</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxGYLMWP</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxGYLMWP</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxPBFMWJ</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxPBFMWJ</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxQFMLWY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxQFMLWY</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxQGMLWB</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxQGMLWB</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxQGMLWY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxQGMLWY</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxQWKRFY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxQWKRFY</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxQWYRFM</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxQWYRFM</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_CarpalxTNWMLC</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.CarpalxTNWMLC</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colemak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Colemak</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_ColemakModDH</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.ColemakModDH</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Colman</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Colman</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Dvorak</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Dvorak</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_DvorakLeft</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.DvorakLeft</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_DvorakRight</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.DvorakRight</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Klausler</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Klausler</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Minimak4</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Minimak4</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Minimak8</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Minimak8</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Minimak12</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Minimak12</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Norman</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Norman</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QWERF</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.QWERF2007</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak1</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak1</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak1Curl</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak1Curl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak2</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak2</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak2Curl</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak2Curl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak3</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak3</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak3Curl</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak3Curl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak4</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak4</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Tarmak4Curl</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Tarmak4Curl</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Workman</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.Workman</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_WorkmanP</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.larryv.keylayout.WorkmanP</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>

<!-- vim: set noexpandtab shiftwidth=0 softtabstop=0: -->
